<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite >
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.TC001"/>
      <class name="testCases.TC002"/>
      <class name="testCases.TC003"/>
      <class name="testCases.TC004"/>
      <class name="testCases.TC005"/>
      <class name="testCases.TC006"/>
      <class name="testCases.TC007"/>
      <class name="testCases.TC008"/>
      <class name="testCases.TC009"/>
      <class name="testCases.TC010"/>
      <class name="testCases.TC011"/>
      <class name="testCases.TC012"/>
      <class name="testCases.TC013"/>
      <class name="testCases.TC014"/>
      <class name="testCases.TC015"/>
      <class name="testCases.TC016"/>
      <class name="testCases.TC017"/>
      <class name="testCases.TC018"/>
      <class name="testCases.TC019"/>
      <class name="testCases.TC020"/>
      <class name="testCases.TC021"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
